body{background:#222; color:white; font-family:'Open Sans', sans-serif;}

.dialog{background:#333; width:50%; position:fixed; top:128px; left:calc(25% - 32px); padding:32px; border-radius:16px; }

#sourceselectform input{width:calc(100% + 64px); font-size:32px; margin-left:-32px; margin-right:-32px;}

#sourceselectform{text-align:center;}
h1{text-align:center;}

.phantom_image{visibility:hidden; position:absolute; top:0; left:0;}
.gimage{display:inline-block; visibility:hidden;}
.gimage.loaded{visibility:visible;}
gallery{display:block; width:calc(100% - 16px); margin-right:0px; margin-left:16px;}

#progressbar{height:4px; background-image:url(../images/loading.gif); -webkit-transition:width 0.5s;}
#progressbar_wrapper{background-color:#444; position:fixed; top:0; left:0; width:100%; -webkit-transition: opacity 1s; opacity:1;}

#progressbar_wrapper.noshow{opacity:0;}
